* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-color: #333;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

input, button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
}

@media screen and (max-width: 300px) {
    body { 
        padding: 1.5rem;
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        padding: 0;
}
    input, button {
        font-size: 1.1rem;
        padding: 0;
        border-radius: 10px;
    }
/*
@media screen and (min-width: 480px) {
    body { 
        padding: 1.5rem;
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        padding: 0;
}
    input, button {
        font-size: 1.1rem;
        padding: 0;
        border-radius: 10px;
    }

@media screen and (max-width: 600px) {
    body { 
        padding: 1.5rem;
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        padding: 0;
}
    input, button {
        font-size: 1.1rem;
        padding: 0;
        border-radius: 10px;
    }

/* For Tablet View */
@media screen and (min-device-width: 768px) 
    and (max-device-width: 1024px) {
    body {
        width: 400px;
        height: 400px;
        background-color: #333;
        color: #fff;
    }
    input, button {
        font-size: 1.1rem;
        padding: 0;
        border-radius: 10px;
    }
}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) 
    and (orientation: portrait) {
    body {
        width: 200px;
        height: 200px;
        background-color: #333;
        color: #fff;
    }
    input, button {
        font-size: 1.1rem;
        padding: 0;
        border-radius: 10px;
    }
}
 
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) 
    and (orientation: landscape) {
    body {
        width: 400px;
        height: 200px;
        background-color: #333;
        color: #fff;
    }
    input, button {
        font-size: 1.1rem;
        padding: 0;
        border-radius: 10px;
    }
}
 
/* For Mobile Phones Portrait or Landscape View */
@media screen
    and (max-device-width: 640px) {
    body {
        width: 400px;
        height: 200px;
        background-color: #333;
        color: #fff;
    }
    input, button {
        font-size: 1.1rem;
        padding: 0;
        border-radius: 10px;
    }
}
 
/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) 
    and (-webkit-min-device-pixel-ratio: 2) {
    body{
        width: 400px;
        height: 400px;
        background-color: #333;
        color: #fff;
    }
    input, button {
        font-size: 1.1rem;
        padding: 0;
        border-radius: 10px;
    }
}
 
/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) 
    and (device-width: 320px) 
    and (-webkit-min-device-pixel-ratio: 2) {
    body{
        width: 400px;
        height: 400px;
        background-color: #333;
        color: #fff;
    }
    input, button {
        font-size: 1.1rem;
        padding: 0;
        border-radius: 10px;
    }
}
 
/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) 
    and (min-device-width: 375px) 
    and (-webkit-min-device-pixel-ratio: 3) {
    body {
        width: 400px;
        height: 400px;
        background-color: #333;
        color: #fff;
    }
    input, button {
        font-size: 1.1rem;
        padding: 0;
        border-radius: 10px;
    }
};
